<div class="container">
    <div class="row justify-content-center">
        <img style="max-width: 100px;" src="/assets/logo.png"/>
        <div class="align-items-center justify-content-center">
            <br/>
            <p>Exedum token is an algorithmic stablecoin project designed to — eventually — track the United States Dollar on a 1-1 ratio with EXED.</p>
            <p>During expansionary cycles users are rewarded with freshly-printed “rebased” tokens for providing liquidity.</p>
            <p>Holders can burn tokens at any time for “coupons” which they can redeem at any point within 30 days so long as EXED is above $1 per token enabling to reap significant profit.</p>
            <p>The difference between EXED and other algorithmic coins is that network fees are saved to always help expansionary cycles making easier to have profits to the community.</p>
            <p>Algorithmic stablecoins all incorporate feedback loops designed to dampen oscillations around the targeted peg value, They do best when they are trading close to the target peg, and not so well when they diverge that's why we stablished the previous step in Exedum.</p>
            <div class="row justify-content-center">
                <a href="/assets/onepager.pdf" class="btn mr-2 mb-2 btn-primary" target="_BLANK"><span class="btn-text">One Pager</span></a>
                <a href="/assets/whitepaper.pdf" class="btn mr-2 mb-2 btn-primary" target="_BLANK"><span class="btn-text">WhitePaper</span></a>
            </div>
        </div>
    </div>
</div>