<div class="container">
    <div class="row justify-content-center">
        <img src="/assets/logo-full.png"/>
        <div class="align-items-center justify-content-center">
            <br/>
            <p>EXEDUM (EXED) is a decentralized self-stabilizing and censorship-resistant stablecoin without any collateral backing.</p>
            <p>Oracle-driven pricing for voluntary supply elasticity is used without having to trust third-parties.</p>
            <div class="row justify-content-center">
                <button (click)="openApp()" class="btn mb-2 btn-secondary"><span class="btn-text">Launch App</span></button>
            </div>
            <br/>
            <div class="row justify-content-center">
                <button (click)="openSale()" class="btn mr-2 mb-2 btn-primary"><span class="btn-text">Sale</span></button>
                <a href="https://t.me/exedum" class="btn mr-2 mb-2 btn-primary" target="_BLANK"><span class="btn-text">Telegram</span></a>
                <button (click)="openProtocol()" class="btn mb-2 btn-primary"><span class="btn-text">Protocol</span></button>
            </div>
        </div>
    </div>
</div>