<div class="container">
  <div class="row align-items-center justify-content-center">
    <h6>Buy EXED</h6>
  </div>
  <br />

  <div class="row center">
    <div class="col-lg-12" *ngIf="!isMetaMaskInstalled">
      <span class="text-danger mb-0">Metamask is not installed!</span>
    </div>

    <div class="col-lg-12" *ngIf="isMetaMaskInstalled && !account">
      <button class="btn mr-2 mb-2 btn-primary" (click)="login()">
        <span class="btn-text">Connect with metamask</span>
      </button>
    </div>

    <div class="col-lg-12">
      <div *ngIf="isMetaMaskInstalled && account">
        <p>Wallet Connected: {{ account }}</p>
      </div>
      <p *ngIf="saleAccessGranted && !canClaim">Sale Address: {{ sale }}</p>
      <p *ngIf="saleAccessGranted && !canClaim">Token Address: {{ token }}</p>
      <p *ngIf="saleAccessGranted && !canClaim">1 ETH = 3000 EXED</p>
      <p *ngIf="saleAccessGranted && !canClaim">(Min: 0.1 ETH - Max: 10 ETH)</p>
    </div>

    <div
      class="col-lg-12"
      *ngIf="!saleAccessGranted && !canClaim && isMetaMaskInstalled && account"
    >
      <div class="row center">
        <div class="col-lg-12">
          <h6>Private Sale Password</h6>
          <div class="form-group">
            <input type="password" class="form-control" #salePasswordInput />
          </div>
          <div class="row justify-content-center">
            <button
              (click)="checkSalePassword(salePasswordInput.value)"
              class="btn mr-2 mb-2 btn-secondary"
            >
              <span class="btn-text">Continue</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="canClaim && isMetaMaskInstalled && account" class="col-lg-12">
      <p>You have {{ unclaimedExedum }} EXED pending to be claimed</p>
      <div class="row justify-content-center">
        <button (click)="claimAll()" class="btn mr-2 mb-2 btn-secondary">
          <span class="btn-text">Claim all my EXED tokens</span>
        </button>
      </div>
    </div>

    <div class="col-lg-12" *ngIf="saleAccessGranted && !canClaim">
      <div *ngIf="!canClaim" class="col-lg-12">
        <div class="form-group">
          <label for="eth" class="mb-2"
            >ETH (Current Balance: {{ ethBalance }})</label
          >
          <input
            type="number"
            class="form-control"
            id="eth"
            #ethInput
            placeholder="0"
            (keyup)="onEthInputChange(ethInput.value)"
            [value]="ethInputValue"
            required
          />
        </div>
        <div class="form-group">
          <label for="exed" class="mb-2"
            >EXED (Current Balance: {{ exedBalance }})</label
          >
          <input
            type="number"
            class="form-control"
            id="exed"
            #exedInput
            placeholder="0"
            (keyup)="onExedInputChange(exedInput.value)"
            [value]="exedInputValue"
            required
          />
        </div>
        <div class="row justify-content-center">
          <button (click)="buy()" class="btn mr-2 mb-2 btn-secondary">
            <span class="btn-text">Buy</span>
          </button>
        </div>
      </div>

      <div *ngIf="canClaim" class="col-lg-12">
        <p>You have {{ unclaimedExedum }} EXED pending to be claimed</p>
        <div class="row justify-content-center">
          <button (click)="claimAll()" class="btn mr-2 mb-2 btn-secondary">
            <span class="btn-text">Claim all my EXED tokens</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
