<div class="container">
  <div class="row align-items-center justify-content-center">
    <h6>Buy EXED</h6>
  </div>
  <br />

  <div class="row center">
    <div class="col-lg-12" *ngIf="!isMetaMaskInstalled">
      <span class="text-danger mb-0">Metamask is not installed!</span>
    </div>

    <div class="col-lg-12" *ngIf="isMetaMaskInstalled && !account">
      <button class="btn mr-2 mb-2 btn-primary" (click)="login()">
        <span class="btn-text">Connect with metamask</span>
      </button>
    </div>

    <div class="col-lg-6">
      <div *ngIf="isMetaMaskInstalled && account">
        <p>
          Wallet Connected: <br />
          {{ account }}
        </p>
      </div>
      <p *ngIf="!canClaim && account">
        Sale Address: <br />
        {{ sale }}
      </p>
      <p *ngIf="!canClaim && account">
        Token Address: <br />
        {{ token }}
      </p>
      <p *ngIf="!canClaim && account">
        Public Sale Date:<br />
        27/01/2021 18:00 UTC - 03/02/2021 18:00 UTC
      </p>
      <p *ngIf="!canClaim && account">
        Caps:<br />
        SoftCap: 100 ETH - HardCap: 400 ETH
      </p>
    </div>

    <div *ngIf="canClaim && isMetaMaskInstalled && account" class="col-lg-12">
      <p>You have {{ unclaimedExedum }} EXED pending to be claimed</p>
      <div class="row justify-content-center">
        <button (click)="claimAll()" class="btn mr-2 mb-2 btn-secondary">
          <span class="btn-text">Claim all my EXED tokens</span>
        </button>
      </div>
    </div>

    <div class="col-lg-6" *ngIf="!canClaim && account">
      <div class="col-lg-12">
        <p *ngIf="!canClaim && account">
          (Min: 0.1 ETH - Max: 20 ETH per Wallet)
        </p>
        <p *ngIf="!canClaim && account">1 ETH = 2000 EXED</p>
      </div>

      <div *ngIf="!canClaim" class="col-lg-12">
        <div class="form-group">
          <label for="eth" class="mb-2"
            >ETH (Current Balance: {{ ethBalance }})</label
          >
          <input
            type="number"
            class="form-control"
            id="eth"
            #ethInput
            placeholder="0"
            (keyup)="onEthInputChange(ethInput.value)"
            [value]="ethInputValue"
            required
          />
        </div>
        <div class="form-group">
          <label for="exed" class="mb-2"
            >EXED (Current Balance: {{ exedBalance }})</label
          >
          <input
            type="number"
            class="form-control"
            id="exed"
            #exedInput
            placeholder="0"
            (keyup)="onExedInputChange(exedInput.value)"
            [value]="exedInputValue"
            required
          />
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <button (click)="buy()" class="btn mr-2 mb-2 btn-secondary">
              <span class="btn-text">Buy</span>
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="canClaim" class="col-lg-12">
        <p>You have {{ unclaimedExedum }} EXED pending to be claimed</p>
        <div class="row justify-content-center">
          <button (click)="claimAll()" class="btn mr-2 mb-2 btn-secondary">
            <span class="btn-text">Claim all my EXED tokens</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
